@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&family=Tapestry&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Shadows+Into+Light&family=Tapestry&family=Water+Brush&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-image: url(../imagenes/fondo.webp);
	font-size: 1.5rem;
	background-size: cover;
	background-position: center;
}
.header__nav{
	list-style-type: none;
	font-family: 'Shadows Into Light', cursive
}
.header__nav li{
	display: inline-block;
	margin-left: 1.5rem;
}
h3{
	font-family: 'Tapestry', cursive;
	color: cyan;
}
textarea{
	width: 350px;
	height: 500px;
}
#header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 70px;
	width: 100%;
	padding-top: 2.5rem;
	color: cyan;
	font-family: 'Bebas Neue', cursive;
	background: rgb(41, 37, 37);
}
#footer{
	background-color: black;
	
}
.video{
	display: flex;
	height: 50%;
	width: 50%;
	padding: 20px 20px;
	margin-top: 2.5rem;
	margin-left: auto;
	margin-right: auto;
}
/* Seccion principal */
.hero{
	display: flex;
	justify-content: space-between;
	padding:2rem;
	align-items: center;
}
.hero__img{
	width: 500px;
	height: 500px;
	padding: 1.5rem;
}
.hero__text{
	font-family:'Koulen', cursive;
	font-weight: 400;
	font-size: 2rem;
	width: 500px;
}
/* Galeria */
.galeria_inicio{
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	align-content: center;
	background-color: rgb(83, 82, 80);
}
.galeria_inicio_img{
	display: grid;
	justify-content: space-between;
	width: 33.3333%;
	max-height: 200px;
	max-width: 200px;
	padding: 5px;
	border-radius: 1.5rem;

}
/* Seccion Contacto*/
	.conteiner_contacto{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding: 2em;
		background-color: grey;
		margin-top: 2.5rem;
		border-radius: 1.5rem;
	}
	.titulo{
		text-align: center;
		font-size: 2em;
	}
	.contacto_wrapper{
		box-shadow: 0 0 20px cyan;
	}
	.contacto_wrapper > * {
		padding: 1em;
	}
	.contacto_form{
		background: #d1cece;
	}
	.contacto_form form{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.contacto_form form .block{
		grid-column: 1 / 3;
	}
	.contacto_form form p{
		margin: 0;
		padding: 1em;
	}

	.contacto_form form button,
	.contacto_form input,
	.contacto_form textarea{
		width: 100%;
		padding: 7em;
		border: none;
		outline: 0;
		border-bottom: 1px solid grey;
		padding: 1em;
	}
	.contacto_form textarea{
		height: 100px;
	}
	.contacto_form form button{
		background: rgb(55, 173, 173);
		color: aquamarine;
		border: 0;
		text-transform: uppercase;
		padding: 1em;
	}
	.contacto_form form button:hover,
	.contacto_form form button:focus{
		background: rgb(28, 53, 53);
	}
	.contacto_info {
		background:rgb(31 30 30 / 62%);
	}
	.contacto_info h4{
		text-align: center;
		margin: 0 0 1rem 0;
	}
	.contacto_info p img{
		padding: 1.5rem;
	}
	/* Large Screen*/
	@media (min-width: 700px){
		.conteiner_contacto{
			padding: 2rem;
		} 
		.contacto_wrapper{
			display: grid;
			grid-template-columns: 2fr 1fr;
		}
		.contacto_wrapper > *{
			padding: 2em;
		}
	}
	.galeria_fotos{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-auto-rows: 150px;
		padding: 20px;
		grid-gap: 10px;
		margin-top: 2.rem;
		margin-block-end: 2.rem;

	}
	.galeria_fotos img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}