*{
    margin: 0;
    padding: 0;
}
body{
	background-image: url(../imagenes/fondo.webp);
	background-size: cover;
	background-position: center;
}
.body_index{
    display: grid;
    grid-template-rows: 120px auto 120px;
    min-height: 100vh;
}
#header, #footer{
    background-color: black;
    color: cyan; 
}
.video{
    display: grid;
}
.hero__img{
	width: 500px;
	height: 500px;
	padding: 1.5rem;
}
.hero__text{
	font-family:'Koulen', cursive;
	font-weight: 400;
	font-size: 2rem;
	width: 500px;
}
.galeria_inicio{
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	align-content: center;
	background-color: rgb(83, 82, 80);
}
.galeria_inicio_img{
	display: grid;
	justify-content: space-between;
	width: 33.3333%;
	max-height: 200px;
	max-width: 200px;
	padding: 5px;
	border-radius: 1.5rem;

}